# Dependencies
node_modules/
.pnpm-store/

# Production Build Outputs
dist/
dist-ssr/
build/

# Vite Cache
.vite/

# Environment Variables & Local Configs
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE & OS Files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Documentation & Internal Notes
*.txt
